* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagina {
  display: flex;
  height: 100vh;
}

.parte-sinistra {
  display: flex;
  flex-direction: column;
  width: 258.89px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #d9d9d9;
  flex-shrink: 0;
  transition: width 0.25s;
  overflow: hidden;
}

.parte-sinistra-alto {
  height: 58px;
  padding: 0 8px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
}

.parte-sinistra-basso {
  flex-grow: 1;
  width: 100%;
  padding: 12px 8px;
  background-color: #fafafa;
}

.barra-di-ricerca {
  padding: 1px 12px;
  margin-bottom: 12px;
}

.parte-sinistra-basso nav {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  gap: 8px;
}

.parte-sinistra-basso a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  white-space: nowrap;
}

.parte-sinistra-basso a:hover {
  background-color: #e5e5e5;
}

.parte-sinistra-footer {
  border-top: 1px solid #d9d9d9;
  padding: 8px;
}

.parte-sinistra-footer button {
  width: 100%;
  height: 40px;
  border: none;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 12px;
}

.parte-sinistra-footer button:hover {
  background-color: #f2f2f2;
}

.parte-destra {
  flex-grow: 1;
}

/* STATO CHIUSO */
.parte-sinistra.collapsed {
  width: 72px;
}

.parte-sinistra.collapsed .parte-sinistra-alto h2,
.parte-sinistra.collapsed .parte-sinistra-basso a span,
.parte-sinistra.collapsed .parte-sinistra-footer button span,
.parte-sinistra.collapsed .barra-di-ricerca input {
  display: none;
}

.parte-sinistra.collapsed .parte-sinistra-basso a,
.parte-sinistra.collapsed .parte-sinistra-footer button {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.parte-sinistra.collapsed .barra-di-ricerca {
  display: flex;
  justify-content: center;
}

.parte-sinistra.collapsed .barra-di-ricerca button {
  margin: 0;
}


.parte-destra {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  border-right: 1px solid #d9d9d9;
}

.parte-destra-alto {
  height: 58px;
  padding: 0 8px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
}

.parte-destra-alto nav {
  display: flex;
  flex-direction: row;
  padding: 0px, 12px;
  gap: 12px;
}